* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #D0C7B0;
}

/* WHY I LOVE...  */

h1{
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal; 
    color: #405B60;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    text-align: center;
}

p{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
}

/* NAV STARTS HERE  */
nav{
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #1D1E1E;
    padding: 14px;
    width: 100%;
    text-align: left;
    position:fixed; 
    text-align: center;

}

nav a{
    color: #BE5C01;
    text-decoration: underline;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 14px ;
    font-style: normal;
    padding: 14px;
}

a{
    color:#BE5C01;
}

a:hover{
    color:#D99100;
}

/* HEADER IMAGE STARTS HERE  */

#headerimg{
    width: 100%;
    display: block;
    margin-bottom: 50px;
    
}

#headerimg img{
    width: 100%;
    display: block;
}

/* POSTERS STARTS HERE  */

#movieposters{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
    padding:40px
}

/* FOOTER STARTS HERE  */

footer {
    background-color: #1D1E1E;
    color: #D0C7B0;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-size: 13px;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

footer p{
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-size: 13px;
}